{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    {% include 'nav.html'%}
    <div class="container">
        <h1>Grocery Inventory</h1>
        <table>
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Category</th>
                    <th>Stock</th>
                    <th>Unit</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for p in products %}
                <tr>
                    <td>{{ p.name }}</td>
                    <td>{{ p.category }}</td>
                    <td>{{ p.stock }}</td>
                    <td>{{ p.unit }}</td>
                    <td>৳{{ p.price }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">No products available.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>